<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>News Tracker 9000</title>

    <!-- Round About Style -->
    <link rel="stylesheet" href="../css/pillar.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:600" rel="stylesheet">

    <!-- Navbar styles -->
    <link rel="stylesheet" href="../css/navbar.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>BestBytes</h1>

    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#"></a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="articles.html">Articles <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="locations.html">Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sources.html">Sources</a>
        </li>
      </ul>
      <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </nav>

    <div class="table-container">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Excerpt</th>
            <th>Source</th>
            <th>Publication date</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="single.html">
              Call of Duty Created as 'A Little Bit' of an F-You to Medal of Honor</a></td>
            <td>Following the success of Medal of Honor: Allied Assault, EA wanted to...</td>
            <td>ign</td>
            <td>2016-10-17</td>
            <td>Alex Osborn</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="single.html">
              Pjanic backs under-fire Buffon to 'prove he's number one'</a></th>
            <td>Gianluigi Buffon has made two high-profile errors in recent games,...</th>
            <td>four-four-two</th>
            <td>2016-10-17</th>
            <td>FourFourTwo</th>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="single.html">
              Nobel panel gives up knockin on Dylan door</a></td>
            <td>Days after being awarded the literature prize, Bob Dylan has yet to...</td>
            <td>the-guardian-uk</th>
            <td>2016-10-17</th>
            <td>Unknown</th>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
