h1{
	text-align: center;
	font-family: 'Abhaya Libre', serif;
	font-size: 4.0em;
	font-weight: 600;
	padding-top: 10px;
}

h2 {
	/* H2 is the style for any container headlines */
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-family: 'Abhaya Libre', serif;
	font-weight: 600;
	font-size:   2.5rem;
}


h3 {
	/* H2 is the style for any container headlines */
	font-family: 'Abhaya Libre', serif;
	font-weight: 600;
	font-size:   1.5rem;
}

p {
	font-family: 'Abhaya Libre', serif;
	font-weight: 400;
	font-size:   1rem;
}

.article {
	padding-bottom: 3%;
}

.img-center {
	display: block;
	margin: auto;
}

img {
	width: 100%;
}
